html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    /* background: rgba(255, 249, 249, 0.342); */
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

header {
    padding: 1rem 0rem;
    color: rgb(97, 82, 85);
}

header .row,
footer .row {
    display: flex;
    align-items: center;
}

header h1 {
    font-weight: 700;
    margin: 0;
}

header nav {
    display: flex;
    justify-content: flex-end;
}

header p {
    padding: 0 1rem;
    margin: 0;
}

.jumbotron {
    display: flex;
    align-items: center;
    background-image: url('../resources/landscape2.jpg');
    background-size: cover;
    color: rgba(134, 134, 134, 0.733);
    height: 35rem;
    text-shadow: 0 0 1rem #4d3138;
    text-align: center;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron h2 {
    font-size: 60px;
    font-weight: 700;
    margin: 0;
    color: floralwhite;
}

.jumbotron h4 {
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    color: rgb(253, 241, 241);
}

.jumbotron h3 {
    margin: 0 0 20px;
    color: #fff;
}

section .row img {
    margin: 0 0 30px;
    width: 100%;
}

.col-md-6 {
    margin: 0 0 30px;
}

.btn.btn-primary {
    border-radius: 2px;
    border: 0px;
    color: #000;
    text-shadow: none;
    background-color: #ffffff;
}

.btn.btn-primary:hover {
    color: black;
    background-color: #fbd1d5;
}

.btn-secondary {
    background-color: #e8dfe0;
    color: #ffffff;
    margin: 0 0 30px;
}

footer {
    font-size: 12px;
    padding: 20px 0;
    max-height: 32px;
}

footer .col-sm-8 {
    display: flex;
    justify-content: flex-end;
}

footer ul {
    list-style: none;
}

.container-fluid {
    height: 100%;
    display: table;
    width: 100%;
    padding: 0;
}

.row-fluid {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.centering {
    float: none;
    margin: 0 auto;
}

.card {
}

.card-header-title {
    background: #f4f4f4;
}

.card-element-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 33px;
    color: white;
    text-shadow: 0 0 1rem #4d3138;
}

.modal-description {
    color: rgb(68, 67, 67);
    text-shadow: 0 0 1rem #4d3138;
}

#page-projects {
    padding: 0.01em;
}

.card-project {
    background-color: rgba(248, 214, 226, 0.308);
}
